<template>
    <div class='container'>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Post Details</h2>
                        <div class="card-options">
                            <a class="btn btn-sm btn-outline-primary" :href="getRoute('index')"><i class="fe fe-arrow-left-circle"></i> return to list</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" v-model="post.title" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="description" class="form-label">Description</label>
                            <div id="editor"></div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-sm btn-primary" @click="updatePost" v-if="data"><i class="fe fe-check"></i> Update Post</button>
                        <div v-else class="d-flex justify-content-between">
                            <button class="btn btn-sm btn-secondary" @click="savePost('draft')"><i class="fe fe-save"></i> Save as Draft</button>
                            <button class="btn btn-sm btn-success" id="saveBtn" @click="savePost('published')"><i class="fe fe-check"></i> Publish Post</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <post-images :post="post"></post-images>
                <post-threads :threads="post.threads" v-if="data"></post-threads>

            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        data: Object,
        statuses: Array
    },

    data() {
        return {
            post: this.$store.getters.getPost,
            description: null,
            statusChoice: null
        }
    },

    mounted() {
        if (this.data) {
            this.$store.commit('setPost', this.data)
        }

        this.$nextTick(function() {
            this.description = new Editor('editor')
            this.description.setHTML(this.post.description)
        })
    },

    methods: {
        updatePost() {
            Swal.fire({
                icon: 'info',
                title: 'Updating Post',
                text: 'Please wait while  post is being updated...',
                allowOutsideClick: false,
                willOpen: () => {
                    Swal.showLoading()
                }
            })

            this.getEditorContent()
            this.$store.dispatch('updatePost', this.post)
                .then(R => {
                    window.location.href = '/admin/posts'
                })
        },
        savePost(statusName) {
            document.getElementById('saveBtn').setAttribute('disabled', true)
            let status = this.statuses.find(s => {return s.name == statusName})
            this.post.status_id = status.id

            this.getEditorContent()
            this.$store.dispatch('savePost', this.post)
                .then(R => {
                    if (R.route) {
                        setTimeout(() => {
                            window.location.href = R.route
                        }, 200);
                    }
                })
        },
        getEditorContent() {
            this.post.description = this.description.getHTML()
        },
        getRoute(name) {
            return this.$store.getters.getPostsRoute(name)
        }
    }
}
</script>
