<template>
    <div>
        <div class="row row-cards row-deck">
            <div class="col-sm-4 col-xl-3" v-for="post in posts" :key="post.id">
                <div class="card">
                    <a href="#"><img class="card-img-top" src="/demo/photos/david-klaasen-54203-500.jpg"
                            alt="post image"></a>
                    <div class="card-body d-flex flex-column">
                        <h4><a href="#" v-text="post.title"></a></h4>
                        <div class="text-muted" v-text="post.description"></div>
                        <div class="d-flex align-items-center pt-5 mt-auto">
                            <div>
                                <a href="/profile.html" class="text-default">Cardiff</a>
                                <small class="d-block text-muted">3 days ago</small>
                            </div>
                            <div class="ml-auto">
                                <a href="javascript:void(0)" class="btn btn-info btn-sm">
                                    <i class="fe fe-message-square"></i> Message</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" v-if="loading" class="btn btn-info btn-loading">Loading posts...</button>
        <button class="btn btn-info" v-if="(currentPage < lastPage) && !loading" @click="loadMorePosts"><i class="fe fe-arrow-down"></i> LOAD MORE</button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loading: false,
            posts: this.$store.getters.getPosts
        }
    },
    created() {
        this.loadMorePosts()
    },
    computed: {
        currentPage: function() {
            return this.$store.getters.getCurrentPage
        },
        lastPage: function() {
            return this.$store.getters.getLastPage
        }
    },
    methods: {
        loadMorePosts() {
            this.loading = true
            this.$store.dispatch('getPosts').then(R => {
                this.loading = false
            })
        }
    }
}
</script>
