<template>
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Messages</h2>
        </div>
        <div class="card-body">
            <ul class="list-unstyled list-separated" v-if="threads.length">
                <li class="list-separated-item" v-for="thread in threads" :key="thread.id">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="avatar avatar-md d-block" style="background-image: url(/imgs/avatar.png)"></span>
                        </div>
                        <div class="col">
                            <div>
                                <a href="javascript:void(0)" class="text-inherit" v-text="thread.from.fullname"></a>
                            </div>
                            <small class="d-block item-except text-sm h-1x" :class="{'text-muted': isRead(thread), 'font-weight-bold': !isRead(thread)}" v-text="lastestMessage(thread)"></small>
                        </div>
                        <div class="col-auto">
                            <div class="item-action dropdown">
                                <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Reply</a>
                                    <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-maximize-2"></i> Expand</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)" class="dropdown-item text-danger"><i class="dropdown-icon fe fe-trash text-danger"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="alert bg-gray-lightest" v-else>No Messages</div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        threads: Array
    },
    methods: {
        lastestMessage(thread) {
            let latest = thread.messages[0],
                content = latest.content

            if (content.length <= 50) {
                return content
            }

            return latest.content.slice(0, 50) + '...'
        },
        isRead(thread) {
            let latest = thread.messages[0]
            if (latest.from_id != thread.from_id) {
                return true
            }

            if (latest.read_at) {
                return true
            }
            return false
        }
    }
}
</script>
