<template>
    <div class="floating-chat enter" :class="{'expand' : open}" @click="openChat">
        <i class="fa fa-comments" aria-hidden="true" :hidden="open"></i>
        <div class="chat" :class="{'enter': open}">
            <div class="header">
                <span class="title">User name</span>
                <button @click.stop="closeChat">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>

            </div>
            <ul class="messages">
                <li :class="getSourceClass(message)" v-for="message in activeMessages" :key="message.id" v-text="message.content"></li>
            </ul>
            <div class="footer">
                <input type="text" class="text-box form-control form-control-sm" ref="textInput" @keyup.enter="sendMessage">
                <button id="sendMessage" @click="sendMessage">send</button>
            </div>
        </div>
        <div class="user-avatars">
            <div class="avatar" style="background-image: url(./demo/faces/male/21.jpg)"></div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        authenticated: Object
    },
    data() {
        return {
            open: false,
            expandedClass: '',
            threads: this.$store.getters.getThreads,
            activeMessages: [],
            message: this.$store.getters.getMessage
        }
    },
    created() {
        Echo.channel('chat').listen('.message.created', e => {
            console.log('c', e)
        })
    },
    mounted() {
        this.$nextTick(e => {
            this.$store.dispatch('getThreads')
                .then(R => {
                    this.activeMessages = this.threads[0].messages
                })

        })
    },
    methods: {
        openChat() {
            if (!this.open) {
                this.open = true
                setTimeout(() => {
                    this.toggleAvatars('-=41px', 'flex')
                }, 200);

                this.scrollToBottom()
            }
        },
        closeChat() {
            this.toggleAvatars('0px', 'none')
            setTimeout(() => {
                this.open = false
            }, 100);
        },
        toggleAvatars(left, display) {
            $('.user-avatars').css('display', display).animate({
                left : left,
            });
        },
        sendMessage() {
            let textInput = this.$refs.textInput,
                textValue = textInput.value,
                newMessage = textValue.replace(/\<div\>|\<br.*?\>/ig, '\n').replace(/\<\/div\>/g, '').trim().replace(/\n/g, '<br>')

            this.message.content = newMessage
            this.message.thread_id = this.threads[0].id

            this.$store.dispatch('sendMessage')
                .then(R => {
                    this.activeMessages.push(R)

                    this.scrollToBottom()

                    textInput.value = ''
                    textInput.focus()
                })
        },
        scrollToBottom() {
            $(".messages").animate({ scrollTop: $(".messages")[0].scrollHeight}, 1000);
        },
        getSourceClass(message) {
            return message.from_id == this.authenticated.id ? 'self' : 'other'
        }
    }
}
</script>
