@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

.font-family-quicksand {
    font-family: 'Quicksand', sans-serif;
}
.font-weight-200 {
    font-weight: 200 !important;
}
