.post-edit-img {
    position: relative;
    .delete-img {
        position: absolute;
        font-size: 20px;
        display: none;
        right: 10px;
        top:-8px;
        cursor: pointer;
    }

    &:hover {
        .overlay {
            background-color: rgb(251 251 251 / 74%);
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .delete-img {
            display: block;
            z-index: 99;
            text-decoration: none;
        }
    }
}
