<template>
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Images</h2>
            <div class="card-options">
                <button class="btn btn-sm btn-outline-primary" @click="addImage"><i class="fe fe-plus"></i> add image</button>
                <input type="file" class="file-input" multiple hidden @change="uploadImages">
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-danger" v-if="errors.file">
                <span v-for="(err, index) in errors.file" :key="index" v-text="err"></span>
            </div>
            <div class="row" v-if="post.images.length">
                <div class="col-6 col-sm-6 mb-4 post-edit-img" v-for="image in post.images" :key="image.id">
                    <span class="text-danger delete-img" @click="deleteImage(image.id)"><i class="fe fe-x-circle"></i></span>
                    <div class="overlay"></div>
                    <img :src="`https://freecycler.s3.eu-west-2.amazonaws.com/posts/${image.filename}`" :alt="image.filename" class="img-thumbnail">
                </div>
            </div>
            <div class="alert bg-gray-lightest" v-else>No Images</div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        post: Object
    },

    data() {
        return {
            errors: {
                file: null,
                fileInput: null
            }
        }
    },

    methods: {
        addImage() {
            this.fileInput = document.querySelector('.file-input')
            this.fileInput.click()
        },
        uploadImages($e) {
            Toast.fire({
                icon: 'info',
                title: 'Uploading your images',
                timer: 0
            })
            let files = $e.target.files

            let data = new FormData()
            data.append('post_id', this.post.id)

            for (let i = 0; i < files.length; i++) {
                const image = files[i];
                data.append('images[' + i + ']', image);
            }

            this.$store.dispatch('uploadImages', data)
                .then(R => {
                    if (R.error) {
                        this.errors.file = R.error
                    }
                })
        },
        deleteImage(id) {
            this.$store.dispatch('deleteImage', id)
                .then(R => {

                })
        }
    }
}
</script>
